/* login.component.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa; /* Set a light background color */
}

.login-card {
  max-width: 400px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white; /* Set a white background color for the card */
}

.login-card button {
  margin-top: 20px;
}
